@CHARSET "ISO-8859-1";

a:link {color:#0f2bc5;}		/* unvisited link */
a:visited {color:#0f2bc5;}  /* visited link */
a:hover {color:#3399FF;}	/* mouse over link */
a:active {color:#000000;}	/* selected link */

body{
	font-family: Arial;
}

.MenuItem{
	text-decoration:none;
}

.MenuItem:hover{
	text-decoration:underline;
}

.TableNormal{
	border: 1px solid #0f2bc5;
	border-collapse:collapse;
}

.TableNormal tr {
	background-color:#ffffff;
	font-size:10pt;
	color:#000000;
	font-family: Arial;
	height:32px;
}

.TableNormal tr td {
	border-style:solid;
	border-width:1px;
	border-color:#0f2bc5;
}

.TableScaleList{
	border: 1px solid #0f2bc5;
	border-collapse:collapse;
}

.TableHeaderRow{
	background-color:#0f2bc5;
	font-size:10pt;	
	color:#FFFFFF;
	text-align:center;
	font-family: Arial;
	height:25px;
}

.TableHeaderRow td{
	border-style:dotted;
	border-width:1px;
	border-color:#0f2bc5;
}

.TableDetailRow{
	background-color:#ffffff;
	font-size:10pt;
	color:#000000;
	font-family: Arial;
	height:25px;
}

.TableDetailRow td{
	border-style:solid;
	border-width:1px;
	border-color:#0f2bc5;
}

.TableLogin{
	border: 1px solid #0f2bc5;
	border-collapse:collapse;
}

.TableLoginHeaderRow{
	background-color:#0f2bc5;
	font-size:12pt;	
	color:#FFFFFF;
	text-align:center;
	font-family: Arial;
	height:28px;
}

.TableLoginHeaderRow td{
	border-style:dotted;
	border-width:1px;
	border-color:#0f2bc5;
}

.TableLoginDetailRow{
	background-color:#ffffff;
	font-size:10pt;
	color:#000000;
	font-family: Arial;
	height:35px;
}

.TableLoginDetailRow td{
	border-style:solid;
	border-width:1px;
	border-color:#0f2bc5;
}

.TextNormal{
	font-size:11pt;	
	color:#0f2bc5;
	font-family: Arial;
	}
	
.TableErrMsg{
	border: 1px solid #FF9191;
	border-collapse:collapse;
}

.TableErrMsg .HeaderRow{
	background-color:#FF9191;
	font-size:12pt;	
	color:#FFFFFF;
	text-align:center;
	font-family: Arial;
	height:28px;
}

.TableErrMsg .DetailRow{
	background-color:#FFFFFF;
	font-size:12pt;	
	color:#000000;
	text-align:center;
	font-family: Arial;
	height:60px;
}

.TableErrMsg .DetailRow td{
	border-style:solid;
	border-width:0px;
	border-color:#0f2bc5;
	vertical-align:center;
}

